*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #282c34;
    height: 100%;
}

html,
body,
#root,
.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    padding-left: 20px;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader_text{
    color: white;
}

div .movies{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px;
    width: 85%;
}

.movies a{
    display: contents;
    text-decoration: none;
}

.page_btn:hover{
    background-color: #8AFFCC;
    color: white;
}

.page_btn {
    cursor: pointer;
    color: #7D7D7D;
    width: 120px;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 36px;
}

.btn_area {
    left: 20px;
    top: 120px;
    width: auto;
    box-shadow: 0px 0px 10px 5px #999999;
    height: auto;
    position: fixed;
    border-radius: 3px;
    background-color: white;
}